!!!
%html{ html_attrs }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible' }
    %meta{ :content => 'width=device-width, initial-scale=1', :name => 'viewport' }

    %meta{ :name => 'text:Author', :content => 'Jeremy Ruppel' }
    %title {Title}{block:PostTitle} | {PostTitle}{/block:PostTitle}
    = inline_stylesheet 'application'
    = inline_javascript 'application'
  %body
    #main{ :role => 'main' }
      = yield

      %footer
        :markdown
          &copy; {CopyrightYears} {text:Author}.
          Powered by [Tumblr](https://www.tumblr.com).

    %aside
      %img{ :src => '{PortraitURL-128}', :alt => '{text:Author}' }

      :markdown
        **I'm Jeremy Ruppel**. I make marvelous shit for your internet.
        These are my thoughts, advices, ramblings, and references on
        the world of software engineering and web development.

        The views here are solely my own and do not necessarily reflect
        the views of my employer.

      %nav
        = link_to 'https://github.com/jeremyruppel' do
          %i.icon-2x.icon-github
        = link_to 'http://www.linkedin.com/in/jeremyruppel' do
          %i.icon-2x.icon-linkedin-sign
        = link_to 'https://twitter.com/jeremyruppel' do
          %i.icon-2x.icon-twitter
        = link_to '{RSS}' do
          %i.icon-2x.icon-rss
        = link_to '/archive' do
          %i.icon-2x.icon-th-large

