= block type do
  %li.post{ :class => type }
    = block :title do
      %hgroup
        %h2= link_to '{Title}', '{Permalink}'

    = partial 'posts/date'
    = partial "posts/#{type}"
    = partial 'posts/footer'
